
body {
    background: #bac1cc;
    font-family: sans-serif;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h3 {
    margin-top: 1em;
    text-transform: capitalize;
    border-top: 1px solid;
}

.colourpicker {
    display: none;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 4px grey;
    max-width: 330px;
    margin: auto;
    position: relative;
}

.colourpicker--open {
    display: block;
}

.colourpicker__existing {
    padding: 20px;
}

.colourpicker__new {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.colourpicker__new--hidden {
    display: none;
}


.swatch,
.palette__list button {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
}
.palette__list button:focus {
    outline: none;
}

.swatch.swatch--selected {
    border-color: black;
}
.swatch.swatch--selected:before {
    content: "\2714";
    color: white;
}

.swatch.swatch--selected:before,
.palette__list button span {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.palette {
    position: relative;
}

.palette__list {
    margin-left: -10px;
}

.palette__list li {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-bottom: 10px;
}


.btn {
    background: #4caf50;
    border: none;
    box-shadow: 2px 2px 2px #cacaca;
    padding: .4em 1em;
    font-size: 1em;
    border-radius: 2px;
}
