
body {
    background: grey;
    font-family: sans-serif;
}

.reset-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}


.colourpicker {
    display: none;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0 4px grey;
    max-width: 330px;
    margin: auto;
    position: relative;
}

.colourpicker--open {
    display: block;
}

.colourpicker__existing {
    padding: 20px;
}

.colourpicker__new {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.colourpicker__new--hidden {
    display: none;
}


.swatch,
.palette__list button {
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
}
.palette__list button:focus {
    outline: none;
}



input:checked + .swatch {
    border-color: black;
}
input:checked + .swatch:before {
    content: "\2714";
    color: white;
}

input:checked + .swatch:before,
.palette__list button span {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.palette {
    position: relative;
}

.palette__list {
    margin-left: -10px;
}

.palette__list li {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-bottom: 10px;
}

.palette--editing {
    background: red;
}
